.contenido a {
    color: #1E6946;
}

.caja {
    flex: 1 1 calc(33.33% - 10px);
    background-color: #0e3422;
    color: white;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
}

.caja:hover {
    transform: translateY(-5px);
}

.titulo-caja {
    background-color: #1E6946;
    border-radius: 2px;
}

.titulo-caja h2 {
    font-weight: 700;
}

.caja p {
    color: white;
}

