.seccion-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.tarjeta {
    width: 400px;
    height: 300px;
    perspective: 1000px;
    margin: 10px;
}

.servidor {
    width: 60%;
}

.frente, .detras {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border: 3px solid #1E6946;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.6s;
}

.frente {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detras {
    background-color: #f9f9f9;
    transform: rotateY(180deg);
    padding: 10px;
}

.tarjeta:hover .frente {
    transform: rotateY(180deg);
}

.tarjeta:hover .detras {
    transform: rotateY(0);
}

.tarjeta img {
    max-width: 60%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.servidor img {
    max-width: 50%;
}

h2 {
    background-color: #1E6946;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    text-align: center;
}